templates/pc/source/.sass-cache/**/*
templates/pc/source/stylesheets/
templates/pc/source/fire_app_log.txt

templates/pc/source/.coffeescript-cache/**/*

templates/mobile/source/.sass-cache/**/*
templates/mobile/source/stylesheets/
templates/mobile/source/fire_app_log.txt