//************************
//    Basic reset
//************************

// @import "compass/reset";
@import "vendor/normalize";

//************************
//    Importing Metas
//************************

@import "meta/variables";
@import "meta/colors";
@import "meta/mixins";
@import "meta/grid";
@import "meta/typography";
@import "meta/helpers";

//************************
//    Base Styles
//************************

body {
	padding-top: 1px;
	margin-top: -1px;
	/* 看到鬼 */
}
img {
    max-width: 100%;
}