<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
    <title>
      國立傳統藝術中心
    </title>
    <link href="stylesheets/screen.css" rel="stylesheet">
    <script src="js/library/modernizr.custom.js"></script>
  </head>
  <body>
    <div class="top-bar">
      <a class="btn--back" href="javascript:;">返回首頁</a>
    </div>
    <div class="wormhole"></div>
    <div class="header">
      <div class="masthead">
        <a class="btn--prev" href="javascript:;">回上頁</a>
        <h1>
          國立傳統藝術中心
        </h1>
      </div>
    </div>
    <div class="container-page">
      <div class="maincontent1">
        <a class="mask"><img alt="" src="images/assets/13868215271.jpg"></a>
        <div class="mainsponsortext1">
          <ul class="li3">
            <li>
              成立時間：2003
            </li>
            <li>
              國家：亞洲 - 中華民國
            </li>
            <li>
              機構形態：附屬於政府組織
            </li>
            <li>
              領域與媒材：造型藝術,視覺藝術,雕塑,陶藝,戲劇,表演藝術,音樂,跨領域,不限
            </li>
            <li>
              聯絡資訊：
              <ul class="li3g">
                <li>
                  名稱：傳藝園區工藝師駐園計畫
                </li>
                <li>
                  地址：宜蘭縣五結鄉季新村五濱路二段201號<a href="https://maps.google.com/maps?q=%E5%AE%9C%E8%98%AD%E7%B8%A3%E4%BA%94%E7%B5%90%E9%84%89%E5%AD%A3%E6%96%B0%E6%9D%91%E4%BA%94%E6%BF%B1%E8%B7%AF%E4%BA%8C%E6%AE%B5201%E8%99%9F&amp;hl=zh-TW&amp;ie=UTF8" target="_blank"><img alt="" src="images/assets/map.png"></a>
                </li>
                <li>
                  E-mail：d139007@ncfta.gov.tw
                </li>
                <li>
                  官方網站：<br><a href="#" onclick="link_out_url('http://www.ncfta.gov.tw/art/page02.html');" onkeypress="link_out_url('http://www.ncfta.gov.tw/art/page02.html');"> http://www.ncfta.gov.tw/art/page02.html</a></br>
                </li>
                <li>
                  電話：<br>+886-3-9705815分機1384</br>
                </li>
                <li>
                  傳真：無
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div id="title_infos1">
          <div id="title_infos_left1">
            <img alt="" height="27" src="images/assets/slid.png" width="14">機構簡介</img>
          </div>
        </div>
        <p class="t10">
          國立傳統藝術中心，位於台灣宜蘭縣五結鄉冬山河畔，是全國唯一以保存傳統藝術為宗旨的國家級文化單位。傳藝中心的主要任務為統籌、規劃、推動傳統藝術的調查、保存、傳習及推廣工作，整合文化園區、國光劇團、臺灣豫劇團及臺灣國樂團等三個國家專業劇(樂)團，致力於保留傳統藝術原汁原味的內涵，讓傳統藝術能夠持續傳承，使其與現代生活與國際接軌，提升傳統藝術之能見度。<br>傳藝中心園區佔地24公頃，是宜蘭縣的重要觀光景點。園區展示系統分為「動態」和「靜態」兩大類。動態展示是以園區內市街聚落區以及水岸的露天舞台、田園景觀區等為主，定時會舉辦不同的技藝展演活動，靜態展示則以展示館的傳統工藝美術與戲劇館文物陳列室的音樂戲曲相關文物之展示為核心。</br>
        </p>
        <div id="title_infos1">
          <div id="title_infos_left1">
            <img alt="" height="27" src="images/assets/slid.png" width="14">進駐計劃簡介</img>
          </div>
        </div>
        <p class="t10">
          本著薪傳、推廣傳統藝術的宗旨，傳藝園區工藝師駐園計畫是希望藉由提供工藝師優質的創作空間及多元交流、媒合平台，激發傳統藝術發展的無限可能，並協助串連藝術創作上、中、下游之重要鍵結，建立台灣傳統藝術之扎根、育成與推廣的有機生態環境。<br>為推廣傳統工藝，並致力於技藝傳承與創新，本中心以特闢「工藝傳習所」作為工藝師駐園計畫的創作場域。藉由提供其創作空間以及多元交流的平台，並協助串連工藝創作上、中、下游之重要鍵結，建立工藝扎根、育成與推廣的有機生態環境，激發傳統藝術發展的無限可能性。</br><br>2013工藝師駐園計畫將不定期透過展覽、工作室開放、工藝研習營等方式，讓民眾、工藝師、藝術社群進行對話與交流。除了引領觀者共同體驗創作的過程，也讓傳統工藝與當代生活美學產生連結，在傳承與創新間激盪出更多的創意思考。進而成為工藝發展基地，提升傳統工藝價值，具體目標為：</br><br>（一） 提供駐園工藝師/團隊發展基地，激發創作能量，呈現傳統工藝新價值。</br><br>（二） 推廣傳統工藝內涵、技藝傳習精神與實踐。</br><br>（三） 傳遞工藝知識與特色，強化園區動態體驗。</br><br>（四） 建立展示及交流平臺，引領觀眾、工藝師與藝術社群間產生對話。</br><br>（五） 做為工藝人才培育及文創發展基地，媒合企業結盟與文創商機。</br><br>園區內的工藝傳習所，有四間獨立的工作室，每間約28坪，供創作展示之用。園區可提供免費的創作和住宿空間，協助藝術家在園區內販售作品，並且進行各種推廣、展覽、表演等相關事宜。</br><br>傳藝園區每年開放徵選一次，媒材不限，但須以傳統工藝為主。2013年駐村者有徐啓盛(竹)、廖勝文(漆)、台灣木雕協會(木)、呂雪芬(金)和無獨有偶劇團(偶)。</br>
        </p>
        <div id="title_infos1">
          <div id="title_infos_left1">
            <img alt="" height="27" src="images/assets/slid.png" width="14">駐村計劃</img>
          </div>
        </div>
        <div class="leftul">
          <ul class="li4g">
            <li>
              進駐期限：<br><span class="li5g">可提供三個月內駐村</span></br>
            </li>
            <li>
              同期間可接待藝術家人數：<br><span class="li5g">4人或4組</span></br>
            </li>
            <li>
              獎補助：<br><span class="li5g">免費工作室</span></br>
            </li>
            <li>
              藝術家自付：<br><span class="li5g">水電費、交通費和其他生活開支</span></br>
            </li>
          </ul>
        </div>
        <div class="rightul">
          <ul class="li4g">
            <li>
              申請方式：<br><span class="li5g">每年公開徵選</span></br>
            </li>
            <li>
              審查機制：<br><span class="li5g">由評審委員遴選</span></br>
            </li>
            <li>
              藝術家回饋方案：<br><span class="li5g">可在工作室內展演發表，並可安排作品寄賣</span></br>
            </li>
            <li>
              藝術家展演：<br><span class="li5g">無</span></br>
            </li>
          </ul>
        </div>
        <div id="title_infos1">
          <div id="title_infos_left1">
            <img alt="" height="27" src="images/assets/slid.png" width="14">進駐條件</img>
          </div>
        </div>
        <div class="leftul">
          <ul class="li4g">
            <li>
              環境：<br><span class="li5g">鄉村</span></br>
            </li>
            <li>
              接待語言：<br><span class="li5g">中文</span></br>
            </li>
            <li>
              資源：<br><span class="li5g">無</span></br>
            </li>
            <li>
              工作室數量：<br><span class="li5g">4</span></br>
            </li>
            <li>
              其他設施：<br><span class="li5g">無</span></br>
            </li>
          </ul>
        </div>
        <div class="rightul">
          <ul class="li4g">
            <li>
              工作室形態與面積：<br><span class="li5g">個人型工作室         /28坪</span></br>
            </li>
            <li>
              住宿：<br><span class="li5g">可提供住宿</span></br>
            </li>
            <li>
              藝術家親友居住：<br><span class="li5g">無</span></br>
            </li>
          </ul>
        </div>
        <div id="title_infos1">
          <div id="title_infos_left1">
            <img alt="" height="27" src="images/assets/slid.png" width="14">如何抵達</img>
          </div>
        </div>
        <div class="leftul">
          <ul class="li4g">
            <li>
              最近國際線機場：<br><span class="li5g">無</span></br>
            </li>
            <li>
              最近國內線機場：<br><span class="li5g">無</span></br>
            </li>
            <li>
              最近火車站：<br><span class="li5g">羅東火車站</span></br>
            </li>
            <li>
              開車：<br><span class="li5g">無</span></br>
            </li>
          </ul>
        </div>
      </div>
      <div class="swipe" id="mainSlider">
        <div class="swipe-wrap">
          <div class="wrap">
            <img class="sliderbanner" src="http://placehold.it/480x320&text=[Swipe me]" />
          </div>
          <div class="wrap">
            <img class="sliderbanner" src="http://placehold.it/480x320&text=[Swipe me]" />
          </div>
          <div class="wrap">
            <img class="sliderbanner" src="http://placehold.it/480x320&text=[Swipe me]" />
          </div>
        </div>
      </div>
      <ul class="position-nav" id="position">
        <li class="on" onclick="slider1.slide(0)"></li>
        <li onclick="slider1.slide(1)"></li>
        <li onclick="slider1.slide(2)"></li>
      </ul>
    </div>
    <script src="js/library/jquery-1.9.1.min.js"></script>
    <script src="js/library/swipe.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>