<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
    <title>
      國內藝術村
    </title>
    <link href="stylesheets/screen.css" rel="stylesheet">
    <script src="js/library/modernizr.custom.js"></script>
  </head>
  <body>
    <div class="top-bar">
      <a class="btn--back" href="javascript:;">返回首頁</a>
    </div>
    <div class="header">
      <div class="masthead">
        <a class="btn--prev" href="javascript:;">回上頁</a>
        <h1>
          藝術村
        </h1>
      </div>
    </div>
    <div class="wormhole"></div>
    <div class="container-page">
      <div class="page-nav-list">
        <ul>
          <li>
            <a href="javascript:;">國立傳統藝術中心</a>
          </li>
          <li>
            <a href="javascript:;">成龍溼地國際環境藝術計畫</a>
          </li>
          <li>
            <a href="javascript:;">大溪藝文之家</a>
          </li>
          <li>
            <a href="javascript:;">新北市國際藝術村</a>
          </li>
          <li>
            <a href="javascript:;">黃金博物館</a>
          </li>
          <li>
            <a href="javascript:;">台北國際藝術村</a>
          </li>
          <li>
            <a href="javascript:;">寶藏巖國際藝術村</a>
          </li>
          <li>
            <a href="javascript:;">國立臺北藝術大學關渡美術館</a>
          </li>
          <li>
            <a href="javascript:;">台北當代藝術中心</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>