<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
    <title>
      藝術進駐網
    </title>
    <link href="stylesheets/screen.css" rel="stylesheet">
    <script src="js/library/modernizr.custom.js"></script>
  </head>
  <body>
    <div class="lang-bar">
      <a href="javascript:;">English</a>
    </div>
    <div class="header">
      <img alt="文化部" class="logo" src="images/logo.png"><img class="artres-logo" src="images/artres-logo.png">
    </div>
    <div class="wormhole"></div>
    <div class="container">
      <section>
        <a href="javascript:;"><img src="images/s1.png">
          <h2>
            關於我們
          </h2>
        </a>
      </section>
      <section>
        <a href="javascript:;"><img src="images/s2.png">
          <h2>
            藝術村
          </h2>
        </a>
      </section>
      <section>
        <a href="javascript:;"><img src="images/s3.png">
          <h2>
            駐村經驗
          </h2>
        </a>
      </section>
      <section>
        <a href="javascript:;"><img src="images/s4.png">
          <h2>
            駐村機會
          </h2>
        </a>
      </section>
      <section>
        <a href="javascript:;"><img src="images/s4.png">
          <h2>
            相關連結
          </h2>
        </a>
      </section>
      <section>
        <a href="javascript:;"><img src="images/s4.png">
          <h2>
            文字查詢
          </h2>
        </a>
      </section>
    </div>
  </body>
</html>