<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
    <title>
      文字查詢
    </title>
    <link href="stylesheets/screen.css" rel="stylesheet">
    <script src="js/library/modernizr.custom.js"></script>
  </head>
  <body>
    <div class="top-bar">
      <a class="btn--back" href="javascript:;">返回首頁</a>
    </div>
    <div class="header">
      <div class="masthead">
        <a class="btn--prev" href="javascript:;">回上頁</a>
        <h1>
          文字查詢
        </h1>
      </div>
    </div>
    <div class="wormhole"></div>
    <div class="container">
      <form>
        <div class="input-groups">
          <input placeholder="輸入檢索內容" type="text"><span class="btn-append"><button class="btn--search" type="submit">Submit</button></span>
        </div>
      </form>
    </div>
  </body>
</html>