@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

@font-face { font-family: 'fontello'; src: url("../fonts/fontello/fontello.eot"); src: url("../fonts/fontello/fontello.eot#iefix") format("embedded-opentype"), url("../fonts/fontello/fontello.woff") format("woff"), url("../fonts/fontello/fontello.ttf") format("truetype"), url("../fonts/fontello/fontello.svg#fontello") format("svg"); font-weight: normal; font-style: normal; }

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { min-width: 320px; }

body { font-family: 'Helvetica Neue',dath3, Helvetica, Arial, sans-serif; font-size: 1em; line-height: 1.6; color: #666666; }

a { text-decoration: none; color: #ea376a; }

img { max-width: 100%; }

.container { *zoom: 1; max-width: 21em; _width: 21em; padding-left: 3em; padding-right: 3em; margin-left: auto; margin-right: auto; }
.container:after { content: ""; display: table; clear: both; }

section { width: 38.09524%; float: left; margin-right: 23.80952%; display: inline; }
section:nth-child(2n) { float: right; margin-right: 0; }

/* IE Support*/
.noie8, .noscript { background: #FFDFDF; border: 5px solid #FF2F2F; clear: both; color: #555; display: block; font-size: 1.5rem; padding: 30px 10px; margin: 0 auto; position: relative; text-align: center; top: 0; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.noscript { position: fixed; z-index: 10000; }

h2 span { font-family: dath5; }

.logo { width: 100px; margin-left: 2em; margin-right: 1em; }

.lang-bar { background-color: #ea376a; text-align: right; font-size: .85em; }
.lang-bar a { display: inline-block; color: #fff; }

.header, .lang-bar { padding: 0 1em; }

.header { background: rgba(234, 55, 106, 0.5); vertical-align: middle; padding: 10px 10px 5px; }

.content a { color: #646464; }

section { text-align: center; }
section h2 { margin-bottom: 0.5em; color: #ea376a; font-size: 1em; line-height: 1.25; }

section { padding-top: 20px; }
