//************************
//    Content Styles
//************************

.content {
	// @include rhythm-padding;
	// p {
	//     &:last-of-type {
	//         margin-bottom: 0;
	//     }
	// }
	// @include m(title) {
	//     //@extend %h2;
	// }
	// @include m(meta) {
	//     color: $gray;
	// }
}

@for $i from 2 through 5 {
	.title#{$i} {
		@extend %h#{$i};
	}
}

.news {
	@extend %text-right;
	@extend %is-show-inline;
	@extend %fr;
	@include span-columns(8 omega,12);;
	a {
		@extend %primeary;
	}
}

.chance, .recommended, .experience,.search, .search-conditions {
	@extend %clearefix;
	margin-bottom: 15px;
	.title2 {
		letter-spacing: .1em;
		@extend %h2;
		color: $black-30;
		@include text-shadow(1px 2px 3px rgba(0,0,0,.1));
		@include leader(1/3);
		@include trailer(1/3); 
	}
}

.chance {
	margin-left: 0;
	@extend .lists--dash;
	li {
		border-left: 4px solid $colorPrimeary;
	}
	a {
		@extend .text--color--black;
	}
}

/* 本月國際藝術村推薦 */
$container-style: fluid;
@include with-grid-settings(9,15em,1em,0) {
	.recommended { @include container; }
}
.recommended {
	padding: 20px;
	@extend %align-head;
	@extend .bg--color--primeary;
	.title2 {
		@extend .text--color--white;
	}
}
	
.card {
	@extend .text--color--black;
	@extend .bg--color--white;
	padding: 8px 8px 40px;
	height: 255px;
	box-shadow: 0 3px 5px darken($colorPrimeary, 10);
	@include span-columns(3,9);
	&:nth-child(3n) { @include omega;}
	&:hover {
		box-shadow: 0 2px 2px lighten($colorPrimeary, 30);
	}
	/* 一行高度24px，寫死2行48px，超出隱藏 */
	span {
		height: 48px;
		overflow: hidden;
		display: block;
	}
}

/* 整合檢索 */
.search {
}
.input-groups {
	display: table;
	height: 30px;
	input {
		width: 100%;
	}
	.btn-append {
		width: 1%;
		vertical-align: middle;
		background-color: $colorPrimeary;
	}
	input, .btn-append {
		display: table-cell !important;
		border: 1px solid $colorPrimeary;
	}

	input, .btn {
		background: #fff;
		position: relative;
		z-index: 2;
		-webkit-appearance: none;
		padding: 2px 7px;
		line-height: 1.5;
		margin: 0;
	}
	
	.btn {
		vertical-align: top;
		text-align: center;
		background-color: $colorPrimeary;
		@extend .text--color--white;
		@extend %h6;
		display: block;
		padding: 2px 7px;
		white-space: nowrap;
		height: 28px;
	}
}

.search-conditions {
	background-color: #e0e0fc;
	@extend .box;
	@extend .list--simple;
	label {
		margin-right: .809em;
		margin-left: .809em;
	}
	ul {
		@extend %zero;
	}
	li + li {
		margin-top: 1px; 
	}
}
/* 駐村心得 */
.experience {
	background-color: #ff9933;
	@extend .box;
	@extend %align-head;
		.title3 {
		@extend %h3;
		@extend %no-leader;
		@extend %no-trailer;
		@extend .text--color--white;
	}
	.title4 {
		@extend %h4;
		@extend .text--color--white;
		@include leader(1/3);
		@include trailer(1/3); 
		// @extend %no-leader;
		// @extend %no-trailer;
	}
	.content {
		@extend %h6;
		line-height: 1.2;
		@extend .end;
		@extend .text--color--white;
		/*寫死高度*/
		height: 72px;
		overflow: hidden;
	}
}
.img-vertical-align {
	overflow: hidden;
	text-align: center;
	img {
		width: 100%;
		@include vertical-align;	
	}
	.experience & {
		height: 157px;
	}
	.recommended & {
		height: 153px;
	}
}
.colophon {
	padding: 20px;
	background-color: lighten($colorPrimeary, 25);
	.moc-logo {
		margin-top: 20px;
		margin-left: 20px;
	}
}

.copyright {
	color: #002566;
	@extend %h6;
	@extend %is-show-inline;  
	margin-left: 20px;
}

/* helper */
%align-head {
	padding-top: 1px;
}

.box {
	padding: 15px;
}

// list
.list--simple {
	list-style: none;
	ul, ol {
		padding: 0;
		list-style: none;
	}
}
.lists--dash {
	@extend .list--simple;
	li {
		line-height: 1.88;
		padding-left: 20px;
		margin-bottom: 8px;
	}
}
.text--color--white { color: $white;} 
.text--color--black { color: $black-80;}
.bg--color--white { background-color: $white;} 
.bg--color--primeary { background-color: $colorPrimeary;}
