//************************
//    Menu Styles
//************************

// .sitemenu {
//     @include m(item) {
//         padding: 0 1em;
//         &:hover {
//             border-top: 3px solid $red;
//         }
//         @include m(link) {
//             color: $red;
//             &:hover {
//                 text-decoration: none;
//             }
//         }
//     }
// }
%nav, .nav {
	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		float: left;
		@extend %h5;
	}
	a {
		display: block;
		line-height: 36px;
	}
}
.site-navigation {
	li, a {
		@extend .bg--color--primeary;
		@extend .text--color--white;
		padding: 0 .75em;
		&:hover {
			text-decoration: none;
		}
	}
	li > a {
		padding: 0;
	}
	li {
		display: block;
		@extend %h5;
		line-height: 36px;
	}
}
.language-navigation {
	float: right;
	a {
		@extend .bg--color--white;
		padding: 0 1em;
		&:hover {
			text-decoration: none;
		}
	}
}

.masthead__nav-bar {
	display: inline-block;
	@include span-columns(10 omega,12);
	@extend .bg--color--primeary;
	border: 1px solid $colorPrimeary;
	@extend %pie-clearfix;
	@extend %block1;
}

ul.dropdown {
	>li {
		position: relative;
		float: left;
		&.hover, &:hover {
			position: relative;
		}
	}
	.sub_menu {
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		font-size: .85em;
		li {
			float: none;
			display: block;
			a {
				width: 100%;
				white-space: nowrap;
				display: block;
			}
		}
	}
	li:hover .sub_menu {
		visibility: visible;
	}
}