doctype 5
html
  head
    meta content='text/html; charset=utf-8' http-equiv='Content-Type'
    meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'
    title 國內藝術村
    link rel='stylesheet' href='stylesheets/screen.css' 
    script src='js/library/modernizr.custom.js'
  body
    .top-bar
      a.btn--back href='javascript:;' 返回首頁
    .wormhole
    .header
      .masthead
        a.btn--prev href='javascript:;' 回上一頁
        h1 藝術村
    .container-page
      .page-nav-list
        ul
          li
            a href='javascript:;'國立傳統藝術中心
          li
            a href='javascript:;'成龍溼地國際環境藝術計畫
          li
            a href='javascript:;'大溪藝文之家
          li
            a href='javascript:;'新北市國際藝術村
          li
            a href='javascript:;'黃金博物館
          li
            a href='javascript:;'台北國際藝術村
          li
            a href='javascript:;'寶藏巖國際藝術村
          li
            a href='javascript:;'國立臺北藝術大學關渡美術館
          li
            a href='javascript:;'台北當代藝術中心

/ 繼之前有請你切的藝術進駐網 入口頁、首頁，以及行動版的首頁
/ 目前尚有一個case是接續的行動版 簡目、詳目頁、查詢頁 的切版

/ 以「國內藝術村」為例
/ 1 簡目頁 
/ > 只會有文字敘述

/ 2 詳目頁
/ > 最上方留一空白以擺放圖片
/ > 中間為欄位(欄位名稱會有主題及欄位的區別，這部份要和你確認)
/ > 下方照片呈現(多張)
/ http://artres.moc.gov.tw/test/portal_d1_page.php?button_num=d1&cnt_id=36

/ 3 查詢頁
/ 包含textbox & 按鈕

/ 因在詳目頁的切版有部份的內容還要討論
/ 今下午我會和Jerry討論切版的樣式
/ 過程沒問題應該週三前可給你版型

/ 目前會有的主要功能如下：
/ 關於本站
/ ---政策資源
/ ---關於本站
/ 藝術村
/ ---國內藝術村
/ ---國外藝術村
/ 駐村經驗
/ ---藝術家介紹
/ ---駐村心得
/ 最新消息
/ ---活動資訊
/ ---駐村機會
/ 相關連結
/ 整合查詢