doctype 5
html
  head
    meta content='text/html; charset=utf-8' http-equiv='Content-Type'
    meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'
    title 藝術進駐網
    link rel='stylesheet' href='stylesheets/screen.css' 
    script src='js/library/modernizr.custom.js'
  body
    .lang-bar
      a href='javascript:;' English
    .header
      img.logo src='images/logo.png' alt='文化部'
      img.artres-logo src='images/artres-logo.png'
    .wormhole
    .container
      section
        a href='javascript:;'
          img src='images/s1.png'
          h2 關於我們
      
      section
        a href='javascript:;'
          img src='images/s2.png'
          h2 藝術村
      
      section
        a href='javascript:;'
          img src='images/s3.png'
          h2 駐村經驗
      
      section
        a href='javascript:;'
          img src='images/s4.png'
          h2 駐村機會

      section
        a href='javascript:;'
          img src='images/s4.png'
          h2 相關連結

      section
        a href='javascript:;'
          img src='images/s4.png'
          h2 文字查詢