doctype 5
html
  head
    meta content='text/html; charset=utf-8' http-equiv='Content-Type'
    meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'
    title 文字查詢
    link rel='stylesheet' href='stylesheets/screen.css' 
    script src='js/library/modernizr.custom.js'
  body
    .top-bar
      a.btn--back href='javascript:;' 返回首頁
    .header
      .masthead
        a.btn--prev href='javascript:;' 回上頁
        h1 文字查詢
    .wormhole
    .container
      form
        .input-groups
          input type='text' placeholder='輸入檢索內容'
          span.btn-append
            button.btn--search type="submit" Submit
      