.page
	header.masthead
		.logo
			a.moc-logo href='javascript:;' 文化部
		.masthead__nav-bar
			.nav.site-navigation
				ul
					li: a href='javascript:;' 關於我們
					li: a href='javascript:;' 藝術村
					li: a href='javascript:;' 駐村經驗
					li: a href='javascript:;' 相關連結
					li: a href='javascript:;' 聯絡我們
			.nav.language-navigation
				ul
					li: a href='javascript:;' ENGLISH
					li: a href='javascript:;' 中文
		.clearfix
		.banner
			.logo
				a.site-logo href='javascript:;' 藝術進駐網
			.news
				a href='javascript:;'
					b NEWS: 
					=zh_lorem_sentences 1 
	main.main
		.primary
			.chance
				h2.title2 駐村機會
				ul
					-5.times do
						li: a href='javascript:;' =zh_lorem_sentences 2
			.recommended
				h2.title2 本月國際藝術村推薦
				.block--3
					-3.times do
						a.card href='javascrip:;'
							=image_tag(lorem_image("400x300"))
							span<> =zh_lorem_words 5
							span<> =lorem_words 3
		.secondary
			.search
				h2.title2 整合查詢
				form
					.input-groups
						input type="text" name="search" placeholder="Search"
						span.btn-append
							button class="btn" 查詢
				/! 圖面上看不出此區域 .search-conditions 是獨立區塊或區塊或是查詢條件，如果是查詢條件請移入 form 中
				.box.search-conditions
					ul.forms-list
						li
							input type="checkbox" name="checkbox-1" id="checkbox-1"
							label for="checkbox-1" Option 1
						li
							input type="checkbox" name="checkbox-1" id="checkbox-2"
							label for="checkbox-2" Option 2
						li
							input type="checkbox" name="checkbox-1" id="checkbox-3"
							label for="checkbox-3" Option 3
						li
							input type="checkbox" name="checkbox-1" id="checkbox-4"
							label for="checkbox-4" Option 4
						li
							input type="checkbox" name="checkbox-1" id="checkbox-1"
							label for="checkbox-5" Option 5
			.box.experience
				h3.title3 駐村心得
				a href='javascript:;'
					=image_tag(lorem_image("400x300"))
					h4.title4
						| 藝術村
						span< =lorem_last_name
					p.content =zh_lorem_words 50
	footer.colophon
		.logo
			.moc-logo
		.copyright
		 | Copyright © 2014 文化部版權所有﻿︱地址：新北市新莊區中平路439號南棟13樓（交通地圖）
		 br
		 | 本網域所登載資料歡迎連結，如要重製複製或散佈請先取得本部同意。︱ 聯絡窗口
		 br
		 | 電話：02-8512-6000 建議最佳瀏覽螢幕解析度1024x768︱網頁更新日期：2014-01-08