.language-page
	.is-table-row
		.language-page__tc
			a.cont href='javascript:;'
				.language-page__title 
				 | 藝術進駐網
				.tc__banner
					img src='../images/tc.jpg'
				| 中文
			.language-page__copyright
				img src='../images/logo-b.png'
		.language-page__en
			a.cont href='javascript:;'
				.language-page__title
				 | Arts Residency Network Taiwan
				.en__banner
					img src='../images/en.jpg'
				| Ｅnglish
			.language-page__copyright
				| Copyright© 2014 Ministry of Culture All Rights Reserved.
javascript:
	document.getElementsByTagName('body')[0].className+='fixed'