@import "compass";
@import "compass/css3";
@import "compass/reset";
$color:     #666;
$primary:   #ea376a;
$secondary: #1fb5a9;
$tertiary:  #ff95bd;

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot');
  src: url('../fonts/fontello/fontello.eot#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff') format('woff'),
       url('../fonts/fontello/fontello.ttf') format('truetype'),
       url('../fonts/fontello/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
  @include box-sizing(border-box);
}
html {
  min-width: 320px;
}
body {
  font-family: 'Helvetica Neue',dath3, Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.6;
  color: $color;
}
a {
  text-decoration: none;
  color: $primary;
}
img {
  max-width: 100%;
}
.clearfix {
  @include pie-clearfix;
}
@import "susy";
$total-columns  : 2;
$column-width   : 8em;
$gutter-width   : 5em;
$grid-padding   : 3em;
.container { @include container; }

$column-width   : 8em;
$gutter-width   : 5em;
$grid-padding   : 0em;
.container-page { @include container; }

section {
  @include span-columns(1, 2);
  @include nth-omega(2n);
}

/* IE Support*/
.noie8 , .noscript {
  background: #FFDFDF; 
  border: 5px solid #FF2F2F;
  clear: both;
  color: #555;
  display: block;
  font-size: 1.5rem;
  padding: 30px 10px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 0;
  width:100%;
  @include box-sizing (border-box);
}
.noscript {
  position: fixed;
  z-index: 10000;
}
h2 span {
  font-family: dath5;
}
.logo {
  width: 100px;
  margin-left: 2em;
  margin-right: 1em;
}
// layout
.fixed {
  position: fixed;
}
.full {
  width: 100%;
}
.top-bar {
  background-color: $primary;
  text-align: right;
  font-size: .85em;
  @extend .fixed;
  @extend .full;
  @extend .clearfix;
  a {
    display: inline-block;
    color: #fff;
  }
}
.header, .lang-bar {
  padding: 0 1em;
  @extend .fixed;
  @extend .full;
  top: 22px;
}
.wormhole {
  height: 68px;
}
.header {
  background: rgba(234,55,106,.5);
  vertical-align: middle;
  padding: 10px 10px 5px;
}
.content {
  a {
    color: rgb(100,100,100);
  }
}
//
section {
  text-align: center;
  h2 {
    margin-bottom: 0.5em;
    color: $primary;
    font-size: 1em;
    line-height: 1.25;
  }
}
section {
  padding-top: 20px;
}
.lang-bar {
  @extend .top-bar;
}
.btn--back {
  float: left;
  background-image: url('../images/arrow-left.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 16px;
  color: #fff;
  display: block; /* for a teg */
}
.btn--prev {
  font-size: .85em;
  @extend .btn--back;
  padding: 1px 10px 1px 21px;
  border: 1px solid #fff;
  @include border-radius(20px);
}
// .header >
.masthead {
  color: #FFF;
  vertical-align: middle;
  padding-bottom: 5px;
  @extend .clearfix;
  h1 {
    font-size: 1.5em;
    line-height: 1;
    text-align: center;
    float: right;
  }
}
.page-nav-list {
  li {
    > a {
      display: block;
      padding: .65em 3.5em;
      color: #666;
    }
  }
  li+li {
    border-top: 1px solid $primary;
  }
}