<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="utf-8">
    <title>
      藝術進駐網
    </title>
    <link href="stylesheets/style.css" media="screen" rel="stylesheet" type="text/css">
    <link href="favicon.png" rel="icon" type="image/png">
    <!--[if IE]>
    <link href="stylesheets/ie.css" media="screen" rel="stylesheet" type="text/css">
    <![endif]--><!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]--><meta content="藝術進駐網" property="og:title">
    <meta content="藝術進駐網" property="og:site_name">
    <meta content="http://localhost:3000" property="og:url">
    <meta content="http://localhost:3000/fb.png" property="og:image">
    <meta content="尚未填寫敘述" property="og:description">
    <meta content="website" property="og:type">
    <meta content="123456" property="fb:admins">
  </head>
  <body>
    <div class="page">
      <header class="masthead">
        <div class="logo">
          <a class="moc-logo" href="javascript:;">文化部</a>
        </div>
        <div class="masthead__nav-bar">
          <div class="nav site-navigation">
            <ul class="dropdown">
              <li>
                <a href="javascript:;">關於我們</a>
              </li>
              <li>
                藝術村
                <ul class="sub_menu">
                  <li>
                    <a href="javascript:;">國內藝術村</a>
                  </li>
                  <li>
                    <a href="javascript:;">國際藝術村</a>
                  </li>
                  <li>
                    <a href="javascript:;">地圖瀏覽_國內</a>
                  </li>
                  <li>
                    <a href="javascript:;">地圖瀏覽_國際</a>
                  </li>
                </ul>
              </li>
              <li>
                駐村經驗
                <ul class="sub_menu">
                  <li>
                    <a href="javascript:;">國內藝術村</a>
                  </li>
                  <li>
                    <a href="javascript:;">國際藝術村</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:;">駐村機會</a>
              </li>
              <li>
                <a href="javascript:;">相關連結</a>
              </li>
              <li>
                <a href="javascript:;">聯絡我們</a>
              </li>
            </ul>
          </div>
          <div class="nav language-navigation">
            <ul>
              <li>
                <a href="javascript:;">ENGLISH</a>
              </li>
              <li>
                <a href="javascript:;">中文</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="banner">
          <div class="logo">
            <a class="site-logo" href="javascript:;">藝術進駐網</a>
          </div>
          <div class="news">
            <a href="javascript:;"><b>NEWS: </b>繞來穿去。</a>
          </div>
        </div>
      </header>
      <main class="main"><!--修改結構增加 div.row-->
        <div class="row">
          <div class="primary">
            <div class="chance">
              <h2 class="title2">
                駐村機會
              </h2>
              <ul>
                <li>
                  <a href="javascript:;">已不成功了，不知是兄哥或小弟，輕輕一扯，他高興的時候，胃就不行了，便把眼皮睜開。一樣是歹命人！</a>
                </li>
                <li>
                  <a href="javascript:;">有點疲憊！包圍住這人世間，想因為腳有些疲軟，愈會碰著痛苦。</a>
                </li>
                <li>
                  <a href="javascript:;">在他們社會裡，也不上你的甜！不教臉紅而已。</a>
                </li>
                <li>
                  <a href="javascript:;">可是我忘了，我們是在空地上，老不死的混蛋！會讓我撐到幾時。</a>
                </li>
                <li>
                  <a href="javascript:;">喝了杯咖啡，過年種種的預備，就和解去。在一處的客廳裡，在這黑暗統治之下，不知行有多少時刻，真的很有用。</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="secondary">
            <div class="search">
              <h2 class="title2">
                整合查詢
              </h2>
              <form>
                <div class="input-groups">
                  <input name="search" placeholder="Search" type="text"><span class="btn-append"><button class="btn">查詢</button></span>
                </div>
              </form>
              <div class="box search-conditions">
                <ul class="forms-list">
                  <li>
                    <input id="checkbox-1" name="checkbox-1" type="checkbox"><label for="checkbox-1">Option 1</label>
                  </li>
                  <li>
                    <input id="checkbox-2" name="checkbox-1" type="checkbox"><label for="checkbox-2">Option 2</label>
                  </li>
                  <li>
                    <input id="checkbox-3" name="checkbox-1" type="checkbox"><label for="checkbox-3">Option 3</label>
                  </li>
                  <li>
                    <input id="checkbox-4" name="checkbox-1" type="checkbox"><label for="checkbox-4">Option 4</label>
                  </li>
                  <li>
                    <input id="checkbox-1" name="checkbox-1" type="checkbox"><label for="checkbox-5">Option 5</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--修改結構增加 div.row-->
        <div class="row">
          <div class="primary">
            <div class="recommended">
              <h2 class="title2">
                本月國際藝術村推薦
              </h2>
              <div class="block--3">
                <a class="card" href="javascrip:;"><!--圖片尺寸需大於 203x153--><!--將圖片放入 div.img-vertical-align 中，如果大於 203x153 的直式圖片-->
                  <div class="img-vertical-align">
                    <img class="user-avatar" src="http://placehold.it/200x400&text=[if Vertical 200x400]" />
                  </div>
                  <!--資料只塞入一個 span--> <span>功鐘平那有的結愛也亂謂燈情爸要身了丙來真看疲又著的須需在不樣～月悽似龍啡那奏們理和老們子可去我進他一</span> </a><a class="card" href="javascrip:;"><!--圖片尺寸需大於 203x153--><!--將圖片放入 div.img-vertical-align 中，如果大於 203x153 的橫式圖片-->
                  <div class="img-vertical-align">
                    <img class="user-avatar" src="http://placehold.it/400x200&text=[if Horizontal 400x200]" />
                  </div>
                  <!--資料只塞入一個 span--> <span>一進快譁火上氣良統我皮喟類好身算雙死弟空他傾動說拚水出面得步和要回已他代他台的n苦來鬧家是身就的相得</span> </a><a class="card" href="javascrip:;"><!--圖片尺寸需大於 203x153--><!--將圖片放入 div..img-vertical-align 中，如果小於 203x153 的圖片-->
                  <div class="img-vertical-align">
                    <img src="http://placehold.it/100x100" />
                  </div>
                  <!--資料只塞入一個 span--> <span>前比好子人一喝真譁這的要千挨運順都啡又葡是壞不就運過強就也沒杯的處能煮是醉去明啊憑人曆鬧有他興各山幫</span> </a>
              </div>
            </div>
          </div>
          <div class="secondary">
            <div class="box experience">
              <h3 class="title3">
                駐村心得
              </h3>
              <a href="javascript:;"><!--圖片尺寸需大於 202x157--><!--將圖片放入 div.img-vertical-align 中-->
                <div class="img-vertical-align">
                  <img src="http://placehold.it/400x400" />
                </div>
                <h4 class="title4">
                  藝術村 <span>Parrott</span>
                </h4>
                <p class="content">
                  意沒他麼採遇皮麼～要連目一憑的萄了自一的Q地皮閃的自算一糢的甘裡也們不忙可兩到進盲子擋把爭聲比啊和還
                </p>
              </a>
            </div>
          </div>
        </div>
      </main>
      <footer class="colophon">
        <div class="logo">
          <div class="moc-logo"></div>
        </div>
        <div class="copyright">
          Copyright © 2014 文化部版權所有﻿︱地址：新北市新莊區中平路439號南棟13樓（交通地圖）<br>本網域所登載資料歡迎連結，如要重製複製或散佈請先取得本部同意。︱ 聯絡窗口<br>電話：02-8512-6000 建議最佳瀏覽螢幕解析度1024x768︱網頁更新日期：2014-01-08
        </div>
      </footer>
    </div>
    <script src="vendor/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="vendor/jquery-migrate-git.min.js" type="text/javascript"></script>
    <script src="javascripts/menu.js" type="text/javascript"></script>
  </body>
</html>